@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.text {
    font-size:60px;
    font-family: 'Bowlby One SC', cursive;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .text {
        font-size:40px;
    }
}
 
@media screen and (max-width: 568px) {
    .text {
        font-size:3em;
    }
}